
body { background-color: #333; color:white }
.side-menu .navbar-nav li a .title.multiline { width: 192px !Important; white-space: normal !Important; }
.side-menu .navbar-nav li a { border-bottom: 1px solid #555; padding-bottom: 65px !Important; }
.side-menu .navbar-nav li a .icon { vertical-align: top; margin-top: 15px; }